*{
    font-family: 'Noto Sans JP', sans-serif;
}

.login{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(5, 5, 5, 0.5), rgba(5,5,5, 0.5)), url("https://images.unsplash.com/photo-1595527124304-71bdfb766f84?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80");
    background-size: cover;
}

.loginTitle{
    font-size: 50px;
    color: white;
}

.loginForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.loginForm > label{
    margin: 10px 0;
    color: white;
}

.loginInput{
    padding: 10px;
    background-color: white;
    border: none;
    outline: none;
}

.loginButton{
    margin-top: 20px;
    cursor: pointer;
    background-color: #32804c;
    border: none;
    color: white;
    padding: 10px;
}

.loginButton:disabled{
    cursor: not-allowed;
    background-color: #555;
}

.registerButton{
    margin-top: 20px;
    cursor: pointer;
    background-color: #2b70a0;
    border: none;
    color: white;
    padding: 10px 70px;
}
